#b1 
{
  font-size: 30px;

}

#b2 
{
  font-size: 30px;
}

#b3 
{
  font-size: 30px;
}

#b4{
font-size: 30px;

}
#dialer
{
margin: 10px;

}

#list
{
margin: 20px; 

}
.btn-space {
    margin: 5px;
}

#add
{
 margin: 20px; 

}

#help{
margin: 20px; 

}